@model UserToReturnDto
@{
    ViewData["Title"] = "Edit";
    
}
<style>
    .disabled-link {
        pointer-events: none;
        color: gray;
        text-decoration: none;
        cursor: not-allowed;
        opacity: 0.6;
    }
</style>

<h1 class="mb-3">Edit</h1>
<form asp-action="Edit">
    <partial name="PartialViews/_FormView">
        <div>
            @if ((bool)TempData["CanEdit"])
            {
                <a asp-action="AddOrRemoveRole" asp-route-userId="@Model.Id" class="btn btn-warning btn-sm">
                    Manage Roles
                </a>
            }
            else
            {
                <a asp-action="AddOrRemoveRole" asp-route-userId="@Model.Id" class="disabled-link btn btn-warning btn-sm">
                    Manage Roles
                </a>
            }
        </div>
    <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
    <a class ="btn btn-light mt-2" asp-action="Details" asp-route-id ="@ViewBag.ID" >Back To Details Page</a>
</form>

@section ValidationSection{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}