@model UserToReturnDto
@{
    ViewData["Title"] = "Profile";

}

<center>
    <div class="mt-4">
        <img width="200" height="200" style="border-radius:50%;" src="~/Files/Images/@Model.Image" />
    </div>
</center>
<h1 class="mb-3">Profile</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Profile" enctype="multipart/form-data" >
    <partial name="PartialViews/_FormView">
        <div class="mb-3">
            @if (Model.PhoneNumber is null)
            {
                <img width="15" height="15" src="~/Files/Icons/mingcute--warning-fill.png" />
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control">
                <button class="mt-1 btn btn-warning" disabled>Confirm phoneNumber</button>
            }
            else
            {
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control">
                if (!Model.IsConfirmed)
                {
                    <div style="display:flex; align-items:center; gap:10px; font-size:12px;">
                        <a asp-action="ConfirmPhoneNumber" asp-route-Id="@Model.Id" class="mt-1 btn btn-warning">Confirm phonenumber</a>
                        <span class="opacity-75">Please make sure your phone is nearby, as this button will send you an SMS message.</span>
                    </div>
                    <span style="font-size:12px;" class="text-danger">@ViewData["PhoneNumber"]</span>
                }
                else
                {
                    <div class="alert alert-success">Your Phone Number Is Confirmed</div>
                }
            }
        </div>
        <div class="mb-3">
            <label asp-for="ImageLink" class="form-label">Upload Image</label>
            <input asp-for="ImageLink" class="form-control" type="file">
        </div>

        <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
        <a class="btn btn-light mt-2" asp-action="Index" asp-controller="Home" >Home</a>
        <input asp-for="Image" hidden />
</form>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}