@model CreateEmployeeDTO

@{
    ViewData["Title"] = "Edit";

}

<h1>Edit Page</h1>

<form asp-action="Edit" asp-route-id="@ViewData["Id"]">
    <partial name="PartialViews/_EmployeeFormsViews" />


    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    <a class="btn btn-light mt-2" asp-action="Index">Back To List</a>
</form>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}