
@{
    ViewData["Title"] = "DeletionUnSuccess";
}

<h1 class="text-danger fw-bold">Something wrong happend</h1>
<p class="text-danger">maybe this record not exits or you try to delete Role higher than you... Try again Later</p>
<a asp-action="index" class="btn btn-light">Back to the List</a>


