@model CreateDepartmentDto
@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-5 mt-3">Create Department</h1>
<form asp-action="Create">
        <partial name="PartialViews/_FormView">

        <button asp-controller="Department" asp-action="Create" type="submit" class="btn btn-primary mt-2">Create</button>
        <a class="btn btn-light mt-2" asp-action="Index">Back To List</a> 
    </form>
