
@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-5 mt-3">Create Department</h1>

<form>
    <div class="mb-3">
        <label class="form-label">Code</label>
        <input class="form-control" placeholder="Enter Department Code">
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" placeholder="Enter Department Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Date Of Creation</label>
        <input class="form-control" placeholder="Enter Date Of Creation">
    </div>
    
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    <button type="submit" class="btn btn-light mt-2" asp-action="index" asp-controller="Department">Back To List</button>
</form>


