
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<center>
    <h4 class="alert-success p-3">Check Your Inbox</h4>
    <p>We have sent a reset Email check it here <a href="https://mail.google.com/mail/u/0/?hl=ar">Gmail</a></p>
</center>

