@model SignInDto
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


    <center class="alert-danger"><div asp-validation-summary="All"></div></center>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" type="text" placeholder="Enter your Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group password" style="position: relative;">
        <label asp-for="Password"></label>
        <input asp-for="Password" placeholder="Enter your password" id="passwordInput">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="checkDiv">
        <div class="innerdiv">
            <input asp-for="RememberMe" class="check" type="checkbox">
            <label asp-for="RememberMe" class="IsAgree"></label>
        </div>
    </div>
    <div class="form-group submit-btn">
        <input type="submit" value="Submit">
    </div>
    <div class="form-group">
    <p>Sign in with another? <a class="text-success" asp-action="GoogleLogin"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" clip-rule="evenodd"><path fill="#f44336" d="M7.209 1.061c.725-.081 1.154-.081 1.933 0a6.57 6.57 0 0 1 3.65 1.82a100 100 0 0 0-1.986 1.93q-1.876-1.59-4.188-.734q-1.696.78-2.362 2.528a78 78 0 0 1-2.148-1.658a.26.26 0 0 0-.16-.027q1.683-3.245 5.26-3.86" opacity="0.987" /><path fill="#ffc107" d="M1.946 4.92q.085-.013.161.027a78 78 0 0 0 2.148 1.658A7.6 7.6 0 0 0 4.04 7.99q.037.678.215 1.331L2 11.116Q.527 8.038 1.946 4.92" opacity="0.997" /><path fill="#448aff" d="M12.685 13.29a26 26 0 0 0-2.202-1.74q1.15-.812 1.396-2.228H8.122V6.713q3.25-.027 6.497.055q.616 3.345-1.423 6.032a7 7 0 0 1-.51.49" opacity="0.999" /><path fill="#43a047" d="M4.255 9.322q1.23 3.057 4.51 2.854a3.94 3.94 0 0 0 1.718-.626q1.148.812 2.202 1.74a6.62 6.62 0 0 1-4.027 1.684a6.4 6.4 0 0 1-1.02 0Q3.82 14.524 2 11.116z" opacity="0.993" /></g></svg></a></p>
    </div>
    <div class="form-group">
        <p>Don't Have an Account? <a class="text-success" href="SignUp">Create new Account!</a></p>
    </div>
    <div class="form-group">
    <p>Forget Password ? <a class="text-success" href="ForgetPassword">Reset your password </a></p>
    </div>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
